tmp/
*.out
*.swp
*.whl
*.old
*.o
*.code-workspace
.nfs*
__pycache__/
pyvenv.cfg
finder.txt
.DS_STORE
/.vscode/
.venv/
.idea/
/dist/
/site/
/wandb/
/kokkos-code-llama/
/peft_adapter/
/tokenizer/
/merged_adapters/
.coverage
coverage.xml
metrics.txt
setup_template_input.txt
commit.md
tests/files/data-test3.yaml
tests/files/config.yaml
uv.lock
